.section_2 {
  width: 80vw;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-items: center;
}

.section_2_left {
  width: 50%;
  margin: auto 0px;
  margin-right: 150px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section_2_right > img {
  height: 100%;
}
.section_2_left {
  background-color: #f2efec;
  color: black;
  padding: 100px;
}
